---
title: Try live
---
{% include header.html %}

<div id="datasetpage" style="height: 100%; height: 80vh;">
  <h1>Available demos</h1>

  <div class="textContent">
    <h2>Try one of our available demonstrations</h2>
    <h3><a href="https://tree.linkeddatafragments.org/demo/autocompletion/" style="color: black">Autocompletion demo</a></h3>
    <p>
      <a href="https://tree.linkeddatafragments.org/demo/autocompletion/">This demonstration</a></h3> showcases a query client querying over multiple data sources fragmented using the TREE hypermedia controls, all in the browser.
    </p>
    <p>
      <a href="https://github.com/TREEcg/treemunica_typeahead_demo">Source code on Github</a>
    </p>
</div>


{% include footer.html %}
Live demonstration