---
title: TREE community group
---
{% include header.html %}

<div id="billboard">
  <p class="slogan"><img src="img/logo.svg" alt="[TREE logo]" class="logo" />
Publish your data as a collection of items</p>
  <p><a href="https://vimeo.com/523711762" target="_blank" title="Pieter Colpaert at ENDORSE2021">Watch this talk</a>
to learn about <em>the vision</em>.</p>
  <p>Try <a href="http://comunica.linkeddatafragments.org/" target="_blank">Comunica</a>, a new Web framework to query Linked Data Fragments and heterogeneous views on top of TREE collections.</p>
</div>


{% include footer.html %}
