---
title: Publications
---
{% include header.html %}

<div id="specpage">
  <h1>Publications</h1>
    <div class="textContent">

  <h2>Core TREE and Linked Data Event Streams (LDES) papers</h2>
  <h3>2021</h3>
  <p>
    Van Lancker, D., Colpaert, P., Delva, H., Van de Vyvere, B., Rojas Meléndez, J., Dedecker, R., Michiels, P., Buyle, R., De Craene, A., & Verborgh, R. (2021, May). “Publishing base registries as Linked Data Event Streams”. Proceedings of the 21th International Conference on Web Engineering.
  <ul>
    <li>The <a href="https://github.com/ddvlanck/Publishing-Base-Registries-As-LDES/raw/master/Linked-Data-Event-Streams.pdf">full paper</a> can be read online</li>
    <li>The presentation is available <a href="https://www.youtube.com/watch?v=ifeR7OBRxgM">on youtube</a></li>
  </ul>
  </p>
  <h2>Use case papers with TREE and LDES </h2>
  <h3>2022</h3>
  <p>Van de Vyvere, B., Van D'Huynslager, O., Atauil, A., Segers, M., Van Campe, L., Vandekeybus, N., Teugels, S., Saenko, A., Pauwels, P.-J., & Colpaert, P.(2022, January). “Publishing cultural heritage collections of Ghent with Linked Data Event Streams”. Proceedings of the Metadata and Semantics Research Conference 2021.
    <ul>
      <li>Check out <a href="https://apidg.gent.be/opendata/adlib2eventstream/v1/">the LDES with data from several cultural heritage organizations</a>
      <li>Our presentation at MTSR2021 is <a href="https://t.co/Eur9xHfvCO">available on Google Slides</a>
      <li>The <a href="https://drive.google.com/file/d/1jOX6h7Z4qyn95RAegPZLlH5-aH1_ach7/view?usp=sharing">full paper</a> can be read online</li>
    </ul>
  </p>
  <h3>2021</h3>
  <p>Ruben, D., Delva, H., Colpaert, P., & Verborgh, R. (2021, May). “A File-Based Linked Data Fragments Approach to Prefix Search”. Proceedings of the 21th International Conference on Web Engineering.
    <ul>
      <li>Check out <a href="https://treecg.github.io/treemunica_typeahead_demo/">the demo with data hosted on Github pages</a>
      <li>Our presentation at ICWE2021 is <a href="https://www.youtube.com/watch?v=eiLAQoC7Oag">available on youtube</a>
      <li>The <a href="https://tree.linkeddatafragments.org/publications/2021-icwe-autocompletion.pdf">full paper</a> can be read online</li>
      <li>The <a href="https://github.com/TREEcg/treemunica/tree/master/packages/actor-init-typeahead">source code for the type-ahead library on Github</a></li>
    </ul>
  </p>
  <h3>2020</h3>
  <p>
    Delva, H., Rojas, J. A., Vandenberghe, P. J., Colpaert, P., & Verborgh, R. (2020, June). “Geospatial Partitioning of Open Transit Data”. In International Conference on Web Engineering (pp. 305-320). Springer, Cham.
    <ul>
      <li><a href="https://hdelva.be/assets/geospatial_lc.pdf">Full paper in PDF</a></li>
      <li>Full paper in <a href="https://hdelva.be/articles/geospatial-linked-connections/">html</a></li>
      <li><a href="https://hdelva.be/slides/icwe2020/#/">Slides</a> used at ICWE2020</li>
      <li>The <a href="https://hdelva.be/assets/icwe_award.pdf">best student paper award</a></li> 
    </ul>
  </p>
  </div>
</div>


{% include footer.html %}
