---
title: TREE community group
---
{% include header.html %}

<div id="softwarepage">
  <h1>Software</h1>
  <div class="textContent">
    <h2>Use our available software to enhance your data publishing and querying</h2>
    <h3>TREEmunica</h3>
    <p>
      This is a fork of the <a href="https://comunica.dev">Comunica Knowledge Graph querying library</a> to support TREE and LDES metadata extraction, and perform for example autocompletion across a tree:Collection that is fragmented using substrings.
    </p>
    <p>
      <a href="https://github.com/TREEcg/treemunica">Documentation on Github</a>
    </p>
    <h3>The Linked Data Event Streams Client</h3>
    <p>
      This library uses Comunica components to create a NodeJS tool for replicating a full Linked Data Event Stream and stay in sync with it.
    </p>
    <p>
      <a href="https://github.com/TREEcg/event-stream-client">Documentation on Github</a>
    </p>
  </div>
</div>


{% include footer.html %}
