---
title: TREE community group
---
{% include header.html %}

<div id="specpage">
  <p>
    There are multiple specifications that are part of the TREE ecosystem. Currently, the Linked Data Event Streams specification is built on top of the TREE specification.
  </p>
  <ul>
  <li>The main TREE specification: <a href="https://w3id.org/tree/specification" target="_blank">https://w3id.org/tree/specification</a></li>0
  <li>The Linked Data Event Streams specification: <a href="https://w3id.org/ldes/specification" target="_blank">https://w3id.org/ldes/specification</a></li>
  <ul>
</div>


{% include footer.html %}
