---
title: TREE community group
---
{% include header.html %}

<div id="specpage">
  <h2 class="accent">Team</h2>

  <ul class="teamlist">
    {% for member in site.data.team %}
      <li class="profilecard">
        <img class="profileimg" src="{{member.img}}"/>
        <p class='property'>Name</p><p class='value'>{{ member.name }}</p>
        <p class='property'>Title</p><p class='value'>{{ member.title }}</p>
        <a class='contact' href="{{member.mbox}}">contact</a>
      </li>
    {% endfor %}
  </ul>
</div>


{% include footer.html %}
