---
title: Linked Data Event Streams
---
{% include ldes/header.html current='getting-started' %}

<div id="billboard">
  <p class="slogan">
    <img src="../img/logo-ldes.svg" alt="[LDES logo]" class="logo" />
    Linked Data Event Streams<br/>
    <i>event sourcing on Web-scale</i>
  </p>
  <p>LDES is a specification for publishing an append-only collection of immutable members.</p>
  <p>Consumers can then host one or more always in-sync Linked Data Fragments views on top of an Event Source.</p>
</div>
<div>
  <p>Want to give feedback on the spec? Do not hesitate <a href="https://github.com/SEMICeu/LinkedDataEventStreams/issues/">to open an issue</a> and to join the conversation.</p>
  <p>Join our <a href="https://matrix.to/#/#ldes:chat.semantic.works">LDES Matrix chat room</a></p>
  <p>Check out our talks on <a href="https://www.youtube.com/playlist?list=PLRBOTYR9bOiibSZUv8_qCLWuJcv840dSk">YouTube</a></p>
</div>
{% include ldes/footer.html %}
