body {
  text-align: center;
  min-height: 100vh;
  max-width: 860px;
  margin: auto;
  overflow: auto;
  font: 11pt/1.6 'Open Sans', Verdana, Arial, sans-serif;
}

#billboard {
  text-align: center;
  margin: -1em 0 2em;
}
#billboard h1 {
  display: none;
}
#billboard p {
  font-size: 1.2em;
  font-weight: bold;
}
#billboard .slogan {
  line-height: 1.4;
  color: var(--prim);
  font-size: 2em;
}

.logo {
    margin: 20px 20px 20px 20px;
}
a {
  color:  var(--prim);
}
a:hover {
  color: var(--sec);
}
#billboard .slogan img {
  display: block;
  margin: 0 auto 1.4ex;
  width: 680px;
}
#billboard .slogan a {
  text-decoration: none;
}
#billboard em {
  white-space: nowrap;
}


footer {
  margin-top: 3em;
  text-align: center;
  font-size: small;
  color: #666666;
}
footer a {
  text-decoration: none;
}

img {
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pagelink {
  margin: 4px;
  border-radius: 8px !important;
  border: 2px solid black !important;
}

.personCard {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
}

.teamPicture {
  margin: 5px;
  border-radius: 10px;
}



nav > ul {
  list-style: none;
  margin-bottom: 0px;
}

nav {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px 5px 5px 10px;
  margin: 10px 0 30px;
  margin-top: 25px;
  display: inline-block !important;
}

nav * {
  display: inline-block;
}


nav a {
  text-decoration: none;
}

nav p {
    font-weight: bold;
    border-radius: 10px 3px 3px 10px;
    padding: 5px 15px 5px 10px;
    background-color:  var(--prim);
    margin-bottom: 0px;
    margin-top: 0px;
}


nav p a {
  color: white !important;
}

nav ul {
    padding-left: 8px;
    margin-top: 0px;
}
nav ul li {
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: .1ex;
}

nav ul li a {
  color:  var(--prim);
}

nav ul li.active {
  background-color:  var(--sec);
}
nav ul li:hover {
  background-color:  var(--prim);
}

nav ul li:hover *, nav ul li.active * {
  text-decoration: none;
  color: white;
}


.navpageheader {
  min-width: 100px;
}

.new {
  background-color: rgba(0, 0, 0, 0.06);
  /* font-weight: bold; */
}


.teamlist {
  list-style-type: none;
}

.accent {
  color:  var(--prim);
}

.profilecard {
  display: inline-block;
  max-width: 250px;
  min-width: 180px;
  margin: 10px;
  background-color:  var(--prim);
  color: white;
  padding: 1rem;
  border-radius: 30px 0 30px 0 !important;
}

.profileimg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  border-radius: 30px 0 30px 0 !important;
}

.property {
  text-align: left;
  font-weight: bold;
  margin-bottom: 2px;
  padding-bottom: 0px;
}

.smallproperty {
  display: inline-block;
}

.value {
  text-align: left;
  padding-top: 0px;
  margin-top: 3px;
}

.contact {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  padding: 7px;
  border-radius: 20px;
}

h1.ldes::before, h1.tree::before {
  color: var(--sec);
  font-weight: lighter;
}

h1.tree::before {
  content: "TREE | ";
}

h1.ldes::before {
  content: "LDES | ";
}


h1 {
  font-weight: bolder;
}

.textContent {
  text-align: left;
}

.textContent h2 {
  color:  var(--prim);
  margin: 0.5em 0 0.2em -1px;
}

.publication .title, .publication .authors, .publication .venue, .blog-entry .title {
  display: block;
}

.tagged > ul {
  list-style-type: none;
}

ul + ul {
  margin-top: 40px;
}

.tagged {
  font-size: 1.2em;

}
.publication + .publication,.per-year + .per-year, .blog-entry + .blog-entry  {
  margin-top: 20px;
}

.tagged {
  position: relative;
}

.tagged ul {
  margin-left: 0;
}

.tagged .year {
  transform: translateX(-100%);
  position: absolute;
  left: -40px;
  width: max-content;
  font-weight: bolder;
}

.tagged .tag {
  text-transform: capitalize;
}

.publication::before, .specification > h2::before, .software > h2::before,.blog-entry .title::before  {
  content: "■ ";
  color: var(--prim);
  position: absolute;
  margin: -1px -1em;
}

.specification > h2::before, .software > h2::before {
  content: "❖ ";
}

.blog-entry .title::before {
  content: "⬢ ";
  margin: -1px -1.2em;
}

.publication a, .blog-entry a {
  text-decoration: none;
}

.links a {
  font-size: 0.9em;
  color: var(--sec);
}

.publication > :not(.title), .blog-entry > :not(.title) {
  font-size: .9em;
}

.publication .authors, .blog-entry .authors {
  font-style: italic;
}

.blog-entry .tags {
  display: inline-block;
}

.blog-entry .authors {
  display: inline-block;
  float: right;
}

.tag + .tag::before {
  content: ' - '
}

.sub {
  font-size: 0.9em;
  font-style: italic;
}
.sub .tags {
  float: right;
  display: inline-block;
}



.authors .team {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.authors h2 {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
.authors h2:before, .authors h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: var(--sec);
}

.authors h2:before {
    margin-left: -52%;
    text-align: right;
}
.authors h2:after {
    margin-left: 2%;
}

.team div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.team div img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.team div .title {
  font-style: italic;

}
.team div *:not(.name) {
  font-size: 0.9em;
}

.blog {
  font-size: 12pt;
}
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.iframe-container  > iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.blog > h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.blog > h3 {
  margin-top: 1em;
}

.blog > h2:after {
  content: '';


}

@media (max-width: 900px) {
  nav p {
    display: block;
    border-radius: 10px 0 0 0;
  }
}

@media (min-width: 900px) {
  body.home main {
    font-size: 1.2em;
  }
}
@media (max-width: 900px) {
  nav p {
    display: block;
    border-radius: 10px 0 0 0;
  }
  nav:after {
    display: none;
  }
  svg.alternate .label:nth-child(odd) {
    baseline-shift: -1em;
  }
  #billboard .slogan {
    font-size: 1.9em;
  }
  #billboard .slogan img {
    width: 100%;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 620px) {
  body {
    padding: 5px 10px;
    font-size: 10pt;
  }
  nav {
    margin: -5px -10px 10px;
  }
  nav ul {
    padding: 0px;
    font-size: .9em;
  }
  nav ul li {
    padding: 5px 6px;
  }
  .screenshot {
    display: none;
  }
}
@media (max-height: 700px) {
  body {
    line-height: 1.4;
  }
  #billboard .slogan {
    font-size: 1.3em;
  }
  #billboard .slogan img {
    width: 70%;
    margin-bottom: 0.5em;
  }
}

