<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/icons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="{{include.prim}}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="{{include.sec}}">
    <style>
    :root {
      --prim: {{include.prim}};
      --sec: {{include.sec}};
    }
    </style>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700' rel='stylesheet'>


    <title>{{page.title}}</title>
    <meta property="og:title" content="{{page.title}}">
    <meta name="twitter:title" content="{{page.title}}">
  
    {% if page.shortdescription %}
    <meta name="description" content="{{page.shortdescription}}">
    <meta property="og:description" content="{{page.shortdescription}}">
    <meta name="twitter:description" content="{{page.shortdescription}}">
    {%endif%}
  
    {% if page.previewimage %}
    <meta property="og:image" content="{{page.previewimage}}">
    <meta name="twitter:image" content="{{page.previewimage}}">
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">

  </head>
  <body>
    <main>
    <div class="row">
      <div class="col-lg-2 col-md-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-12">
        <nav class="navigation">
          <p><a class="navpageheader" href="{{include.self_link}}">{{include.self}}</a></p>
          <ul>

            {% for nav in include.links %}
              {% assign url = nav.location |  append: '.html' %}
              <li class="navpage {% if page.url == url %} active {% endif %}"><a href={{ nav.location }}>{{nav.title}}</a></li>
            {% endfor %}

            <!--<li class="navpage"><a href="/pages">Use it for…</a></li>-->
            <!--<li class="navpage"><a href="/datasets">Datasets</a></li>-->
            <!--<li class="navpage"><a href="/team">Team</a></li>-->

            {% for nav in include.external_links %}
              <li class="navpage new"><a href="{{ nav.location }}">{{nav.title}}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="col-lg-2 col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-1"></div>
      <div class="col-lg-8 col-md-10 col-sm-12">
